@use 'variaveis';

.footer {
    background-color: variaveis.$corDeFundoSecundario;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img {
            display: flex;

            img {
                margin-top: 10px;
                width: 100%;
                max-width: 150px;
            }
        }

        &__text {
            h3 {
                text-align: center;
                font-size: 10px;
            }
        }
    }
}