@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 8px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variaveis.$corDeFundoSecundario;

    @media (max-width: 768px) {
        display: block;
    }

    &__content {
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
        }
        img {
            margin: 5px;
            width: 100%;
            max-width: 220px;
            padding-top: 5px;

            @media (max-width: 768px) {
                max-width: 150px;
            }
        }
    }

    &__content_links {
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            @media (max-width: 768px) {
                width: 20px;
            }

            @media (max-width: 768px) {
                justify-content: space-between;
            }

            li {
                letter-spacing: 2px;
                margin: 0;
                padding: 20px;

                @media (max-width: 768px) {
                    padding-bottom: 5px;
                }

                a {
                    color: variaveis.$corTextoPrincipal;
                    text-decoration: none;
                    img {
                        width: 30px;
                        filter: invert(100%);
                        opacity: 0.8;

                        @media (max-width: 768px) {
                            width: 20px;
                        }
                    }
                }
            }

        }
    }
}

