
$corDeFundoPrincipal: #2EA690;
$corDeFundoSecundario: #402C3E;
$corTextoPrincipal: #F9F9F9;
$corTextoSecundario: #E4E6E9;
$corInfoImportantes: #FFFFFF;
$corBotoes: #402C3E;
$corBotoesdif: #2EA690;
$corContrasteVibrante: #AEEBF2;
$corContrasteSuave: #F2C49B;

